.foodItems {
    // padding: 70px;  
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 320px));
    grid-auto-rows: 350px;
    gap: 25px;
    padding-top: 25px;

    .foodItemCard {
        // background-color: black;
        height: 100%;
        width: 100%;
        color: black;
        display: flex;
        // background-color: blue;
        // padding-top: 10px;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.134);
        border-radius: 5px;

        img {
            height: 200px;

            // width: 300px;
            width: 100%;
            // border-radius: 5px;
        }

        .info {
            width: 300px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 15px;

            .grouped {
                .grouped2 {
                    display: flex;
                    justify-content: space-between;

                    button {
                        background-color: white;
                        color: green;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    .addButton {
                        width: 50px;
                        height: 20px;
                        border: 1px solid rgba(0, 0, 0, 0.4);
                    }

                    .addRemoveButtons {
                        display: flex;
                        border: 1px solid rgba(0, 0, 0, 0.332);
                        border-radius: 8px;
                        width: 50px;
                        height: 20px;

                        button {
                            width: 15px;
                            height: 18px;
                            border: none;
                            border-radius: 8px;
                            // border-bottom: 1px solid black;
                        }

                        justify-content: space-between;
                    }

                    button:hover {
                        background-color: rgb(83, 200, 83);
                        color: white;
                    }
                }

                .price {
                    font-weight: bold;
                }
            }
        }
    }
}